/**** General ************************************/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #abd3ee;
    background-image: linear-gradient(160deg, #abd3ee 0%, #ffffff 100%);*/
}

h1,
h2,
h3 {
    color: rgb(126, 9, 9);
    margin-bottom: 0;
}

p {
    margin-bottom: 0.1em;
}

ul {
    list-style: none;
    line-height: 2em;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline;
    padding-right: 1em;
}
